{% extends 'base.html' %}
{% block content %}
{% if form.non_field_errors %}
<ul class="alert alert-danger list-unstyled">
    <li style="list-style-type: none;">
<ul class="alert alert-danger list-unstyled">{% for error in form.non_field_errors %}
    <li>{{ error }}</li>
</ul>
</li>
</ul>
{% endfor %}

{% endif %}
  <form class="row g-3"method="POST">
  {% csrf_token %}
  <div class="col-auto">
    <label for="staticEmail２" class="visually-hidden">メールアドレス</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="{{ user.email }}">
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">パスワード</label>
    <input type="password" class="form-control" id="inputPassword2" name = 'password' placeholder="パスワード">
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">パスワード再入力</label>
    
    <input type="password" class="form-control" id="inputPassword2" name = 'confirm_password'   placeholder="パスワード再入力">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">パスワード更新</button>
  </div>
</form>
{% endblock content %}