
<!-- mysite/login.html -->
{% extends 'base.html' %}
{% block content %}
{% if form.non_field_errors %}
<ul class="alert alert-danger list-unstyled">
    <li style="list-style-type: none;">
<ul class="alert alert-danger list-unstyled">{% for error in form.non_field_errors %}
    <li>{{ error }}</li>
</li>
</ul>
{% endfor %}
{% endif %}
<div class="container ">
    <div class="row">
        <div class="col-lg-3 m-auto ">
            <h1 class="display-4 font-italic text-center "><a href="/" class="text-decoration-none">独学広場</a></h1>
            </div>
            <div class="col-lg-3 m-auto ">
            
            <form class="form-signin mx-4"method="POST">
            {% csrf_token %}
                <div class="text-center">
                    <h1 class="h5 my-4 ">サインイン</h1>
                </div>
                <div class="form-label-group my-3">
                    <input type="email" id="id_email" name='email' class="form-control" placeholder="メールアドレス" required autofocus>
                </div>

                <div class="form-label-group my-3">
                    <input type="password" id="id_password" name='password' class="form-control" placeholder="パスワード" required>
                </div>

                <div class="form-label-group my-3">
                    <input type="password" id="id_password" name='confirm_password' class="form-control" placeholder="パスワード再入力" required>
                </div>

                <button class="btn btn-primary btn-block my-3" type="submit">サインイン</button>

            </form>

        </div>
    </div>
</div>

{% endblock content %}